@font-face {
  font-family: 'Concourse T3';
  src: url('/fonts/concourse_t3_regular.woff') format('woff');
}

body {
  margin: 0;

  color: #fafafa;
  background-color: #141414;

  font-family: 'Concourse T3', serif;
}

.section-1 {
  display: grid;
  grid-template-columns: 1fr [content] 6fr 1fr;
}

.section-1 * {
  grid-column: content;
  font-weight: 400;
}

/* Positioning */
/* Display */
/* Colors */
/* Type */
/* Other */
